*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* global css */
.container{
    max-width: 1232px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
/* global css  end*/



/* main css */
.sub__header{
    height: 47px;
    background: #B36050;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub__header p{
    color: #F1D3B9;
    font-size: 17px;
    font-weight: 400;
}
#header{
    background: #F6F4EC;
}
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.navbar__collection{
    display: flex;
    align-items: center;
    gap: 32px;
}
.navbar__logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar__account a,
.navbar__item{
    color: #B4604D;
    font-size: 18px;
    font-weight: 400;
}
.navbar__account a{
    margin-right: 40px;
}
.fa-bag-shopping{
    color: #000;
    font-size: 20px;
    margin-right: 5px;
}
.hero{
    width: 100%;
    height: 435px;
    background: url("../assets/hero.png") no-repeat center/cover;
}

.ready{
    background: #A9AE8D;
}
.ready__wrapper{
    padding: 69px 0 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ready__subtitle{
    color: #F6F4EC;
    font-size: 18px;
    font-weight: 400;
}
.ready__title{
    color: #F6F4EC;
    font-size: 33px;
    font-weight: 400;
}
.ready__btn{
    padding: 10px 20px;
    background: #B45F4D;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
.product{
    background: #F6F4EC;
}
.product__title{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #B45F4D;
    font-size: 23px;
    font-weight: 400;
}
.product__wrapper{
    display: flex;
    gap: 94px;
}
.product__card{
    width: calc(33.33% - 62.66px);
}
.product__card img{
    width: 100%;
}
.product__name{
    margin-top: 35px;
    margin-bottom: 20px;
    color: #B45F4D;
    font-size: 18px;
}
.product__price{
    color: #B45F4D;
    margin-bottom: 30px;
}
.product__navigation{
    display: flex;
    justify-content: space-between;
}
.product__navigation a{
    font-size: 50px;
    color: #B45F4D;
    margin-bottom: 45px;
}
.desert{
    background: #fff;
}
.desert__img{
    margin-top: 34px;
    position: relative;
    margin-bottom: 45px;
}
.desert__text{
    width: 100%;
    height: 92px;
    background: #DF9B7A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 45px;
    padding: 0 30px;
}
.desert__left, .desert__right{
    color: #F6F4EC;
    font-size: 20px;
    font-weight: 400;
}
.information{
    background: #F1D3B9;
}
.information__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 204px;
    padding-top: 97px;
    padding-bottom: 67px;
}
.information__text{
    width: 500px;
    height: 750px;
    background: #F8F8F8;
}
.information__name{
    padding: 134px 180px 0;
    color: #B45F4D;
    font-size: 30px;
    margin-bottom: 22px;
}
.information__desc{
    padding: 0 42px;
    color: #B45F4D;
    font-size: 19px;
    margin-bottom: 41px;
}
.information__link{
    padding-left: 41px;
    color: #B45F4D;
}

.follow__title{
    margin-top: 55px;
    color: #000;
    text-align: center;
    font-size: 23px;
    margin-bottom: 45px;
}
.follow__wrapper{
    display: flex;
    gap: 8px;
    margin-bottom: 35px;
}





.footer{
    background: #F6F4EC;
}
.footer__item{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 20px;
}
.footer__left{
    display: flex;
    justify-content: space-between;
}
.footer__column{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 12px;
}
.footer__column a{
    color: #B45F4D;
    font-size: 14px;
}

.footer__right p{
    color: #C17C6C;
    font-size: 14px;
    margin-bottom: 12px;
}
.footer__form{
    display: flex;
    height: 44px;
    margin-bottom: 20px;
}
.footer__form input{
    width: 80%;
    border: 1px solid #C17C6C;
    border-right: none;
    background: #F6F4EC;
    outline: none;
    padding-left: 10px;
}
.footer__form button{
    width: 20%;
    border: 1px solid #C17C6C;
    border-left: none;
    background: #F6F4EC;
    color: #C17C6C;
    cursor: pointer;
}
.footer__bottom {
    border-top: 1px solid #C17C6C;
    padding-top: 10px;
    text-align: center;
}
.footer__bottom{
    color: #C17C6C;
    font-size: 14px;
    padding: 20px 0;
}